.container
    h2 JAIST 萌萌哒
    #myCarousel.carousel.slide
        ol.carousel-indicators
            li.item1.active
            li.item2
            li.item3
            li.item4
        div(class="carousel-inner" role="listbox")
            .item.active
                img(src="/img/mengmengda.jpg" alt="mengmengda")
                .carousel-caption
                    h3 Chania
                    p The atmosphere in Chania has a touch of Florence and Venice

                img(src="/img/mengmengda.jpg" alt="mengmengda")
                .carousel-caption
                    h3 Chania
                    p The atmosphere in Chania has a touch of Florence and Venice
                    
        a(class = "left carousel-control" href="#myCarousel" role="button")
            span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
            span(class="sr-only") Previous