extends user-layout
- user = typeof(udata) != 'undefined' ? udata : { }

block script
    script(src='/vendor/jquery.form.js')
    script(src='/js/form-validators/accountValidator.js')    
    script(src='/js/views/party-dashboard.js')
    block specified-script

block content
    .home-content
        block navi
            div.navbar
                include user-navi
        block container
            #user-content
                #temp-div
                    #party-dashboard
                        include party-dashboard
                    #party-scratch        
                        block party-scratch
block footer
    #footer
        include user-footer