extends party-scratch-layout

block specified-script

block party-scratch
    - var party_list = record

    form(role='form' class="form-horizontal" id="show-party" method='post' action='/parties/#{record._id}')
        fieldset
            .form-group
                label(for='party-caption' class="col-sm-10 party-label") Party Information
            hr

            .form-group
                label(for='party-des' class="control-label col-sm-2 party-label") 主题
                .col-sm-4
                    input(class='form-control' id='party-des' name="party_theme" value="#{record.party_theme}"
                        disabled = (udata.name === record.manager)? false:true)
            .form-group
                label(for='party-time' class="control-label col-sm-2 party-label") 时间
                .col-sm-4
                    input(class='form-control' id='party-time' name="party_time" value="#{record.party_time}"
                        disabled = (udata.name === record.manager)? false:true)
            .form-group
                label(for='party-total-fee' class="control-label col-sm-2 party-label") 总费用
                .col-sm-4
                    input(class='form-control' id='party-total-fee' name="party_total_fee" value=(record.party_total_fee)?record.party_total_fee:0
                        disabled = (udata.name === record.manager)? false:true)                    
            .form-group
                label(for='party-fee-average' class="control-label col-sm-2 party-label") 人均
                .col-sm-4
                    input(class='form-control' id='party-fee-average' name="party_fee_average" value=0 disabled=true)
            .form-group
                label(for='party-location' class="control-label col-sm-2 party-label") 地点
                .col-sm-4
                    input(class='form-control' id='party-location' name="party_location" value="#"
                        disabled = (udata.name === record.manager)? false:true)                    
            .form-group
                label(for='party-participant' class="control-label col-sm-2 party-label") 参与者
                .col-sm-4
                    input(class='form-control' id='party-participant' name="party_participant" value="#"
                        disabled = (udata.name === record.manager)? false:true)                    
            if udata.name == record.manager                
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button(type="submit" class="btn btn-info btn-ctl") Submit
                        button(type="button" class="btn btn-info btn-ctl") Cancel    