button.btn.btn-default.party-ctl#my-attendance 我参加的
button.btn.btn-default.party-ctl#party-list 所有列表
button.btn.btn-default.party-ctl#create-request 创建
button.btn.btn-default.party-ctl#my-managed 我管理的

//- button.btn.btn-default.party-ctl#my-attendance 我参加的
//- button.btn.btn-default.party-ctl#party-list 所有列表
//- button.btn.btn-default.party-ctl#create-request 创建
//- button.btn.btn-default.party-ctl#my-managed 我管理的


//- button.party-ctl#my-attendance 我参加的
//- button.party-ctl#party-list 所有列表
//- button.party-ctl#create-request 创建
//- button.party-ctl#my-managed 我管理的