#shuttle-bus-content
    .row.centered
        .col-sm-7 金沢方面 -> JAIST
    .row.centered
        .col-sm-2 JR西日本
        .col-sm-2 北陸鉄道石川線(電車)
        .col-sm-2 シャトルバス
    .row
        .col-sm-1 金沢駅
        .col-sm-1 西金沢駅
        .col-sm-1 野町駅
        .col-sm-1 新西金沢駅
        .col-sm-1 鶴来駅
        .col-sm-1 鶴来駅発
        .col-sm-1 JAIST着                