button.btn.btn-default.shuttle-bus-ctl#weekday-kanazawa-jaist 金沢 -> JAIST(平)
button.btn.btn-default.shuttle-bus-ctl#weekday-jaist-kanazawa JAIST -> 金沢(平)

button.btn.btn-default.shuttle-bus-ctl#holiday-kanazawa-jaist 金沢 -> JAIST(祝)
button.btn.btn-default.shuttle-bus-ctl#holiday-jaist-kanazawa JAIST -> 金沢(祝)
