extends user-layout
- user = typeof(udata) != 'undefined' ? udata : { }

block content
    block navi
        .header
            include user-navi
    #main
        block container
            
            div(id="profile")
                table.table
                    tr
                        th 名字
                        th #{name}
                    tr  
                        th 国家
                        th #{country}
