doctype html
html
    head

        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel='stylesheet', href='/css/user-style.css')
        script(src="/vendor/jquery-1.11.3.min.js")
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="/js/views/friends.js")
    block title
    block script
        
    body
    block content
        block navi
        block container        
        
    block footer
    block scripts