extends party-scratch-layout

block specified-script
    

block party-scratch
    table.table.table-striped
        thread
            tr
                th 主题
                th 描述
                th 时间
                th 料理
                th 参加人数
                th 费用
                th 人均
                th 负责人
                th 参加