div(class="modal fade" id="jiaozi-modal" role="dialog")
    .modal-dialog
        .modal-content
            div(class="modal-header" style="padding:35px 50px;")
                button(type="button" class="close" data-dismiss="modal") X
                h4 饺子啦！东北大水饺！！！                
            div(class="modal-body" style="padding:40px 50px;")
            div.modal-footer
                button(class="btn btn-default pull-left close" data-dismiss="modal" id="jiaozi-submit") Submit
                button(class="btn btn-default pull-right close" data-dismiss="modal" id="jiaozi-cancel") Cancel