div(class="modal fade" id="kaorou-modal" role="dialog")
    .modal-dialog
        .modal-content
            div(class="modal-header" style="padding:35px 50px;")
                button(type="button" class="close" data-dismiss="modal") X
                h4 吃烤肉啦！起来嗨！！！
            div(class="modal-body" style="padding:40px 50px;")
            div.modal-footer
                button(class="btn btn-default pull-left close" data-dismiss="modal" id="kaorou-submit") Submit
                button(class="btn btn-default pull-right close" data-dismiss="modal" id="kaorou-cancel") Cancel